<div>
  <%= @sender.full_name %> has submitted project <b><%= @assigned_project.course_project_instance.name %></b>
  <p style="margin: 5%">Attachment: <%= @project_delivery.file.url %></p>
  <p><%= link_to 'See the project in context', @assigned_project.project_url %></p>
<div>

